<html>
	<head>
		<title>Contact Manager | {% block title %}HOME{% endblock title %}</title>
	</head>
	<body>
		<nav>
			<ul>
				<li><a href="{% url 'manager:contact' %} "> CREATE CONTACT</a></li>
				<li><a href="{% url 'manager:contact' %}">DELETE CONTACT</a> </li>
				<li><a href="{% url 'manager:login' %}">LOGIN</a> </li>
				<li><a href="{% url 'manager:register' %}">REGISTER</a> </li>
				<li><a href="{% url 'manager:list' %}">MY CONTACTS</a> </li>
				<li><a href="{% url 'manager:logout' %}">LOGOUT</a> </li>
			</ul>
		</nav>
		<br>
		{% block content %}
			
		{% endblock content %}
	</body>
</html>